<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/blog-home.css" rel="stylesheet" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Museo Virtual EPN</title>

    <script src="/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/Menu/Inicio">Inicio</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"
                 id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/AcercaDe/Mostrar_AcercaDe">Acerca del Museo</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Map/Show_Map">Contactos</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Museo de Historia Natural Gustavo Orces</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item active">Ubicacion</a>
                    <a href="#" class="list-group-item">Proximos Eventos</a>
                    <a href="#" class="list-group-item">Contactos</a>
                </div>
            </div>
            <!-- /.col-lg-3 -->
            <div class="col-lg-9">
                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/2/23/Museo_Ciencias_Naturales%2C_Escuela_Polit%C3%A9cnica_Nacional_Quito%2C_Ecuador.JPG" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Museo de Historia Natural "Gustavo Orcés"</h3>
                        <h4>Escuela Politécnica Nacional - Quito</h4>
                        <p class="card-text">
                           <p> Como una importante iniciativa, los investigadores y miembros del Instituto de Ciencias Biológicas, mantienen al Museo de Historia Natural, el mismo que contiene representaciones museológicas y colecciones de importancia para promover el interés y preocupación por el cuidado del ambiente y de los ecosistemas.</p>

                            <p>La Escuela Politécnica Nacional (EPN), a través del Museo se encuentra empeñada en contribuir con la educación ambiental, sensibilización y concienciación de los estudiantes y público en general. En pocas horas de visita al Museo podrán tener una visión más exacta de la naturaleza ecuatoriana, la biodiversidad, los ecosistemas, la problemática ambiental, como base para la conservación y uso sustentable de los recursos naturales.</p>


                           <p>Los distintos niveles de los planteles educativos de la provincia de Pichincha y del país, pueden complementar y reforzar los contenidos de sus clases de Ciencias Naturales, Biología, Ecología, Sistemática, Historia Natural, Educación Ambiental, asistiendo a las charlas que brindan los guías y el grupo de especialistas del Instituto de Ciencias Biológicas.</p>
                        </p>
                        <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                        4.0 stars
                    </div>
                </div>
            
            </div>
            <!-- /.col-lg-9 -->
        </div>
    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Aplicaciones Web GR2 2018</p>
        </div>
    </footer>







</body>
</html>